# Virtual environments
.venv/
.venv311/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Dataset files
*.csv
data/*.csv

# Spark Streaming checkpoint
checkpoint/

# Astra DB credentials
api/astra_secure_bundle/
.env
astra_bundle_base64.txt